<footer class="footer">
  <div class="footer__container">
    <div class="footer__box">
      <a href="" class="header__logo">
        <div class="logo">
          <span class="logo--style1">Hell</span>
          <svg class="logo--style2" width="22" height="30">
            <use xlink:href="./images/sprite.svg#icon-flame"></use>
          </svg>
          <span class="logo--style3">en</span>
        </div>
        <div class="logo--bottom">
          <span class="logo--style4">hellish </span><span class="logo--style1">english</span>
        </div>
      </a>
      <div class="footer__contact">
        <div class="footer__contact-tel">
          <svg class="footer__contact-icon">
            <use href="./images/sprite.svg#icon-phone"></use>
          </svg>
          <a class="footer__contact-number" href="tel:+38 (000) 000 00 00">+38 (000) 000 00 00</a>
        </div>
        <a href="https://www.instagram.com" class="footer__instagram-link" target="_blank"></a>
      </div>
    </div>
    <div class="footer__license">
      <div class="footer__license__box">
        <a class="footer__license-text" href="#">@ All rights reserved, 2019</a>
      </div>
    </div>
  </div>
</footer>
