@use '../utils/vars' as vars;

.logo {
  display: flex;
  font-weight: 800;
  font-size: 26px;
  line-height: 1.23;
  letter-spacing: 0.04em;
  &--style1 {
    color: vars.getColor('primary');
    padding-right: 3px;
  }
  &--style2 {
    fill: vars.getColor('accent');
  }
  &--style3 {
    color: vars.getColor('primary');
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  &--bottom {
    font-weight: 700;
    font-size: 8px;
    line-height: 1.25;
    letter-spacing: 0.18em;
    text-transform: uppercase;
  }
  &--style4 {
    color: vars.getColor('accent');
  }
  &--modal {
    display: flex;

    justify-content: center;
    font-weight: 800;
    font-size: 26px;
    line-height: 1.23;
    letter-spacing: 0.04em;
  }
  &--modal-bottom {
    font-weight: 700;
    font-size: 8px;
    line-height: 1.25;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
  }
}
